<template>
  <FCard class="q-pa-md" :style="'price'">
    <div>
      <div class="text-h6 text-uppercase">{{ $t('summary') }}</div>
      <div class="text-h5">{{ $n(summary, 'currency') }}</div>
    </div>
  </FCard>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'src/store';
import FCard from '../UI/FCard.vue';

const $store = useStore();
const summary = computed(() => {
  const depositInfo = $store.getters['binance/getDepositInfo'];
  return depositInfo.totalAmount - depositInfo.totalFee;
});
</script>
