<template>
  <q-table flat :rows="balances" :columns="columns" row-key="name">
    <template v-slot:body-cell-price="props">
      <q-td :props="props">
        {{ $n(props.value, 'decimal', { maximumFractionDigits: 8 }) }}
      </q-td>
    </template>
    <template v-slot:body-cell-holdings="props">
      <q-td :props="props">
        {{ $n(Number(props.value), 'decimal', { maximumFractionDigits: 8 }) }}
      </q-td>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { useQuery } from '@tanstack/vue-query';
import { QTableColumn } from 'quasar';
import { computed } from 'vue';
import { queryKeys } from 'src/resource/binance';
import BinanceService from 'src/services/binanceService';

interface IBalanceTable {
  asset: string;
  quantity: string;
  price: number;
}

const { data: account } = useQuery(queryKeys.account.list());

const coins = computed(
  () => account.value?.balances?.map((balance) => `${balance.asset}USDT`) || []
);

const { data: prices } = useQuery({
  queryKey: ['prices'],
  queryFn: () => BinanceService.fetchPrices(coins.value),
  enabled: computed(() => !!coins.value?.length),
});

const balances = computed(() => {
  return account.value?.balances?.reduce((acc: IBalanceTable[], cur) => {
    acc.push({
      asset: cur.asset,
      quantity: cur.free,
      price: prices.value?.[`${cur.asset}USDT`] || 0,
    });
    return acc;
  }, []);
});

const columns: QTableColumn[] = [
  {
    name: 'portfolio',
    required: true,
    label: 'Portfolio',
    align: 'left',
    sortable: true,
    field: (row: IBalanceTable) => row.asset,
  },
  {
    name: 'price',
    align: 'right',
    label: 'Price',
    sortable: true,
    field: (row: IBalanceTable) => row.price,
    sort: (a: string, b: string) => Number(a) - Number(b),
  },
  {
    name: 'holdings',
    align: 'right',
    label: 'Holdings',
    sortable: true,
    field: (row: IBalanceTable) => row.quantity,
    sort: (a: string, b: string) => Number(a) - Number(b),
  },
];
</script>
