<template>
  <header class="row items-center justify-between q-px-lg q-py-lg">
    <h1>TRADIX</h1>
    <div class="cursor-pointer">
      <q-icon name="search" size="sm" />
      <q-popup-edit v-model="search" auto-save v-slot="scope">
        <q-input
          v-model="scope.value"
          dense
          autofocus
          counter
          @keyup.enter="scope.set"
        />
      </q-popup-edit>
    </div>
  </header>
  <main class="scroll">
    <q-card flat bordered dark class="q-ma-sm">
      <q-card-section class="q-pa-sm">
        <div class="text-h6">Binance</div>
      </q-card-section>

      <q-card-section class="q-px-sm q-pt-none">
        Comece a monitorar suas criptomoedas negociados na Binance
      </q-card-section>

      <q-separator dark />

      <q-card-actions>
        <q-btn flat label="CSV" />
        <q-btn flat label="API" />
      </q-card-actions>
    </q-card>

    <div class="row justify-center gap-5 q-ma-md">
      <f-status-badge
        :text="$t('canDeposit')"
        :color="canDeposit ? 'positive' : 'negative'"
      />
      <f-status-badge
        :text="$t('canWithdraw')"
        :color="canWithdraw ? 'positive' : 'negative'"
      />
      <f-status-badge
        :text="$t('canTrade')"
        :color="canTrade ? 'positive' : 'negative'"
      />
    </div>
    <div class="q-ma-md">
      <SummaryHomePage />
    </div>
    <TableHomePage />
  </main>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useQuery } from '@tanstack/vue-query';
import { queryKeys } from 'src/resource/binance';
import FStatusBadge from 'src/components/UI/FStatusBadge.vue';
import SummaryHomePage from 'src/components/HomePage/SummaryHomePage.vue';
import TableHomePage from 'src/components/HomePage/TableHomePage.vue';

const search = ref('');

const { data: account } = useQuery(queryKeys.account.list());
const canDeposit = computed(() => account.value?.canDeposit);
const canWithdraw = computed(() => account.value?.canWithdraw);
const canTrade = computed(() => account.value?.canTrade);
</script>

<style scoped lang="scss">
header {
  background-image: url('/icons/svg/tracciato.svg');
  background-position: -65px -115px;
  background-repeat: no-repeat;
  background-size: 140%;
  position: initial;
}
</style>
