// app global css in SCSS form
h1 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2rem;
}

h2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
}

h3 {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
}

h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

// gap 1 to 9
@for $i from 1 through 9 {
  .gap-#{$i} {
    gap: #{$i * 0.25}rem;
  }
}

.bg-linear-blue-purple {
  background: $linear-blue-purple;
}
