// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;500;700;800&display=swap');

$typography-font-family: 'Raleway', sans-serif !default;

$primary: #0cf2b4;
$secondary: #966be8;
$accent: #e72ec6;

$dark: #3e3e3e;
$dark-page: #141414;

$positive: #0cf2b4;
$negative: #e72ec6;
$info: #31ccec;
$warning: #f2c037;

$linear-blue-purple: linear-gradient(180deg, #2525fc -8.6%, #a632e4 100%);
$white: #fff;
