<template>
  <q-layout class="column">
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-tabs class="text-teal q-mt-auto shadow-20" inverted>
      <q-route-tab
        v-for="menu in bottomMenu"
        :key="menu.name"
        :name="menu.name"
        :icon="menu.icon"
        :ripple="false"
        :to="menu.to"
      />
    </q-tabs>
  </q-layout>
</template>

<script setup lang="ts">
const bottomMenu = [
  {
    name: 'home',
    icon: 'mdi-finance',
    to: '/',
  },
  {
    name: 'portfolio',
    icon: 'mdi-chart-pie',
    to: '/portfolio',
  },
  {
    name: 'profile',
    icon: 'mdi-account',
    to: '/profile',
  },
];
</script>
