<template>
  <q-card :class="style"><slot /></q-card>
</template>

<script setup lang="ts">
interface FCardProps {
  style?: string;
}

withDefaults(defineProps<FCardProps>(), {
  style: '',
});
</script>

<style scoped lang="scss">
.q-card {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(118, 118, 118, 0.129);
}

.price {
  color: $white;
  background: $linear-blue-purple;
}
</style>
