<template>
  <div class="">
    <q-badge :color="color" rounded class="q-mr-sm" />
    {{ text }}
  </div>
</template>

<script setup lang="ts">
interface FCardProps {
  text?: string;
  color?: string;
}

withDefaults(defineProps<FCardProps>(), {
  text: 'Online',
  color: 'positive',
});
</script>

<style scoped lang="scss"></style>
