<template>
  <q-toolbar class="fixed-bottom">
    <q-btn flat round dense icon="menu" />
    <q-toolbar-title>Toolbar</q-toolbar-title>
    <q-btn flat round dense icon="more_vert" />
  </q-toolbar>
</template>
